<div>
  <h2>{{ isEditing ? 'Editar Cliente' : 'Novo Cliente' }}</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" class="form-grid">
    <mat-form-field appearance="outline" class="span-6">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="nome" placeholder="Ex: Maria Souza" required>
      @if (clienteForm.get('nome')?.hasError('required')) {
      <mat-error>
        Nome é obrigatório.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-3">
      <mat-label>CPF</mat-label>
      <input matInput type="text" formControlName="cpf" mask="CPF_CNPJ">
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-3">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="birthdayPicker" formControlName="dataNascimento">
      <mat-datepicker-toggle matIconSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
      @if (clienteForm.get('dataNascimento')?.hasError('required')) {
      <mat-error>
        Data de Nascimento é obrigatória.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-6">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Ex: maria.souza@example.com" required>
      @if (clienteForm.get('email')?.hasError('required')) {
      <mat-error>
        Email é obrigatório.
      </mat-error>
      } @else if (clienteForm.get('email')?.hasError('email')){
      <mat-error>
        Email inválido.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-3">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" mask="(00) 0 0000-0000" type="text" placeholder="Ex: (99) 99999-9999"
        required>
      @if (clienteForm.get('telefone')?.hasError('required')) {
      <mat-error>
        Telefone é obrigatório.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-3">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="estadoCivil" required>
        <mat-option value="solteiro">Solteiro(a)</mat-option>
        <mat-option value="uniaoEstavel">União Estável</mat-option>
        <mat-option value="casado">Casado(a)</mat-option>
        <mat-option value="divorciado">Divorciado(a)</mat-option>
        <mat-option value="viuvo">Viúvo(a)</mat-option>
      </mat-select>
      @if (clienteForm.get('estadoCivil')?.hasError('required')) {
      <mat-error>
        Estado Civil é obrigatório.
      </mat-error>
      }
    </mat-form-field>

    <mat-radio-group class="span-4" formControlName="genero">
      <mat-radio-button value="masculino">Masculino</mat-radio-button>
      <mat-radio-button value="feminino">Feminino</mat-radio-button>
    </mat-radio-group>

    <mat-expansion-panel class="span-12">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>location_pin</mat-icon>
          Endereço
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-grid" formGroupName="endereco">
        <mat-form-field appearance="outline" class="span-6">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" placeholder="Ex: Rua Exemplo, 123 - Cidade">
          @if (clienteForm.get('endereco.rua')?.hasError('required')) {
          <mat-error>
            O nome da rua é obrigatório.
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-2">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" type="number" />
          @if (clienteForm.get('endereco.numero')?.hasError('required')) {
          <mat-error>
            O número da rua é obrigatório.
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-4">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-3">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" type="text" mask="00000-000" />
          @if (clienteForm.get('endereco.cep')?.hasError('required')) {
          <mat-error>
            O CEP é obrigatório.
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-3">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" type="text" />
          @if (clienteForm.get('endereco.bairro')?.hasError('required')) {
          <mat-error>
            O bairro é obrigatório.
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-3">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" type="text" />
          @if (clienteForm.get('endereco.cidade')?.hasError('required')) {
          <mat-error>
            A cidade é obrigatório.
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-2">
          <mat-label>Estado</mat-label>
          <input matInput type="text" formControlName="estado" />
          @if (clienteForm.get('endereco.estado')?.hasError('required')) {
          <mat-error>
            O Estado é obrigatório.
          </mat-error>
          }
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="isEditing ? clienteForm.invalid || clienteForm.pristine :  clienteForm.invalid">
        <mat-icon>{{ isEditing ? 'save' : 'add' }}</mat-icon>
        {{ isEditing ? 'Salvar Alterações' : 'Adicionar Cliente' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
    </div>
  </form>
</div>