<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Gestão de Seguros</span>

    <!-- CAMPO DE PESQUISA GLOBAL NA TOOLBAR -->
    <span class="toolbar-search-spacer"></span> <!-- Espaçador para empurrar a busca -->
    <mat-form-field appearance="outline" class="toolbar-search-input">
        <mat-label>Buscar Cliente</mat-label>
        <input type="text" placeholder="Nome ou CPF" aria-label="Buscar Cliente" matInput [formControl]="searchControl"
            [matAutocomplete]="auto">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClienteSelected($event)"
            [displayWith]="displayCliente">
            <mat-option *ngFor="let cliente of filteredClientes$ | async" [value]="cliente">
                {{ cliente.nome }} - {{ cliente.cpf || 'CPF não informado' }}
            </mat-option>
            <mat-option *ngIf="!(filteredClientes$ | async)?.length && searchControl.value" disabled>
                Nenhum cliente encontrado.
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
                <mat-icon>analytics</mat-icon> Dashboard
            </a>
            <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">
                <mat-icon>people</mat-icon> Clientes
            </a>
            <a mat-list-item routerLink="/apolices" routerLinkActive="active-link">
                <mat-icon>description</mat-icon> Apólices
            </a>
            <a mat-list-item routerLink="/relatorios" routerLinkActive="active-link">
                <mat-icon>bar_chart</mat-icon> Relatórios
            </a>
            <a mat-list-item routerLink="/multi-calculo" routerLinkActive="active-link">
                <mat-icon>calculate</mat-icon> Multi Cálculo
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>