<form [formGroup]="apoliceForm" (ngSubmit)="onSubmit()">
  <fieldset class="form-apolice">
    <legend>
      <h2>Dados da Apólice</h2>
    </legend>

    <mat-form-field appearance="outline" class="w30">
      <mat-label>Cliente</mat-label>
      <input matInput placeholder="Digite o nome do cliente" [formControl]="clienteSearchControl"
        [matAutocomplete]="autoCliente" required />
      <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayCliente">
        <ng-container *ngIf="filteredClientes$ | async as Clientes; else loadingClients">
          <mat-option *ngIf="Clientes.length === 0 && clienteSearchControl.value" value="">
            Nenhum cliente encontrado
          </mat-option>
          <mat-option *ngFor="let cliente of filteredClientes$ | async" [value]="cliente"
            (onSelectionChange)="onClienteSelected($event)">
            {{ cliente.nome }} - {{ cliente.cpf | mascara: '000.000.000-00' }}
          </mat-option>
        </ng-container>
        <ng-template #loadingClients>
          <mat-option value="" disabled>Carregando clientes...</mat-option>
        </ng-template>
      </mat-autocomplete>
      <input type="hidden" formControlName="clienteId">
      <input type="hidden" formControlName="clienteNome">
      <mat-error *ngIf="apoliceForm.get('clienteId')?.hasError('required') && apoliceForm.get('clienteId')?.touched">
        Cliente é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w30">
      <mat-label>Apólice</mat-label>
      <input matInput placeholder="Número da apólice" formControlName="apolice" required />
      <mat-error *ngIf="apoliceForm.get('apolice')?.hasError('required') && apoliceForm.get('apolice')?.touched">
        Número da apólice é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w30">
      <mat-label>Proposta</mat-label>
      <input matInput placeholder="Número da proposta" formControlName="proposta" required />
      <mat-error *ngIf="apoliceForm.get('proposta')?.hasError('required') && apoliceForm.get('proposta')?.touched">
        Número da proposta é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w25">
      <mat-label>Seguradora</mat-label>
      <mat-select formControlName="seguradora" required>
        <mat-option value="Yelum">Yelum</mat-option>
        <mat-option value="Porto Seguro">Porto Seguro</mat-option>
        <mat-option value="HDI">HDI</mat-option>
        <mat-option value="Mapfre">Mapfre</mat-option>
        <mat-option value="Bradesco">Bradesco</mat-option>
        <mat-option value="Itaú">Itaú</mat-option>
        <mat-option value="Zurich">Zurich</mat-option>
        <mat-option value="Tokio Marine">Tokio Marine</mat-option>
        <mat-option value="Allianz">Allianz</mat-option>
      </mat-select>
      @if ( apoliceForm.get('seguradora')?.hasError('required') && apoliceForm.get('seguradora')?.touched ) {
      <mat-error>
        Seguradora é obrigatória.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w20">
      <mat-label>Produto</mat-label>
      <mat-select formControlName="produto"  required>
        <mat-option value="Automóvel">Automóvel</mat-option>
        <mat-option value="Residencial">Residencial</mat-option>
        <mat-option value="Vida">Vida</mat-option>
        <mat-option value="Saúde">Saúde</mat-option>
        <mat-option value="Empresarial">Empresarial</mat-option>
        <mat-option value="Rural">Rural</mat-option>
        <mat-option value="Odonto">Odonto</mat-option>
        <mat-option value="Viagem">Viagem</mat-option>
        <mat-option value="Fiança Locatícia">Fiança Locatícia</mat-option>
        <mat-option value="Responsabilidade Civil">Responsabilidade Civil</mat-option>
        <mat-option value="Transportes">Transportes</mat-option>
        <mat-option value="Outros">Outros</mat-option>
      </mat-select>
      <mat-error *ngIf="apoliceForm.get('produto')?.hasError('required') && apoliceForm.get('produto')?.touched">
        Produto é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w20">
      <mat-label>Sub-tipo do documento</mat-label>
      <mat-select formControlName="subTipoDocumento" required>
        <mat-option value="Renovavel">Renovável</mat-option>
        <mat-option value="Avulso">Avulso</mat-option>
      </mat-select>
      <mat-error
        *ngIf="apoliceForm.get('subTipoDocumento')?.hasError('required') && apoliceForm.get('subTipoDocumento')?.touched">
        Sub-tipo é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Início de Vigência</mat-label>
      <input matInput [matDatepicker]="inicioVigenciaPicker" placeholder="Início de vigência"
        formControlName="inicioVigencia"  required>
      <mat-datepicker-toggle matIconSuffix [for]="inicioVigenciaPicker"></mat-datepicker-toggle>
      <mat-datepicker #inicioVigenciaPicker></mat-datepicker>
      <mat-error
        *ngIf="apoliceForm.get('inicioVigencia')?.hasError('required') && apoliceForm.get('inicioVigencia')?.touched">
        Início de Vigência é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fim de Vigência</mat-label>
      <input matInput [matDatepicker]="fimVigenciaPicker" placeholder="Fim de vigência" formControlName="fimVigencia"
        required>
      <mat-datepicker-toggle matIconSuffix [for]="fimVigenciaPicker"></mat-datepicker-toggle>
      <mat-datepicker #fimVigenciaPicker></mat-datepicker>
      <mat-error
        *ngIf="apoliceForm.get('fimVigencia')?.hasError('required') && apoliceForm.get('fimVigencia')?.touched">
        Fim de Vigência é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Emissão</mat-label>
      <input matInput [matDatepicker]="emissaoPicker" placeholder="Data de Emissão" formControlName="dataEmissao"
        required>
      <mat-datepicker-toggle matIconSuffix [for]="emissaoPicker"></mat-datepicker-toggle>
      <mat-datepicker #emissaoPicker></mat-datepicker>
      <mat-error
        *ngIf="apoliceForm.get('dataEmissao')?.hasError('required') && apoliceForm.get('dataEmissao')?.touched">
        Data de Emissão é obrigatória.
      </mat-error>
    </mat-form-field>

    <fieldset>
      <legend>Tipo de Seguro</legend>
      <mat-radio-group aria-label="Tipo de Seguro" formControlName="tipoSeguro" required>
        <mat-radio-button value="novo">Novo</mat-radio-button>
        <mat-radio-button value="renovacao">Renovação</mat-radio-button>
        <mat-radio-button value="renovacaoOutra">Renovação de outra corretora</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="apoliceForm.get('tipoSeguro')?.hasError('required') && apoliceForm.get('tipoSeguro')?.touched">
        Tipo de Seguro é obrigatório.
      </mat-error>
    </fieldset>

    <fieldset>
      <legend>Situação</legend>
      <mat-radio-group aria-label="Situação" formControlName="situacao" required>
        <mat-radio-button value="ativo">Ativo</mat-radio-button>
        <mat-radio-button value="vencido">Vencido</mat-radio-button>
        <mat-radio-button value="cancelado">Cancelado</mat-radio-button>
        <mat-radio-button value="pendente">Pendente</mat-radio-button>
        <mat-radio-button value="suspenso">Suspenso</mat-radio-button>
        <mat-radio-button value="naoRenovado">Não Renovado</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="apoliceForm.get('situacao')?.hasError('required') && apoliceForm.get('situacao')?.touched">
        Situação é obrigatória.
      </mat-error>
    </fieldset>

  </fieldset>

  <mat-accordion>
    <mat-expansion-panel formGroupName="informacoesFinanceiras">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>attach_money</mat-icon>
          Informações Financeiras
        </mat-panel-title>
      </mat-expansion-panel-header>

      <section class="flex">
        <fieldset class="w25 inline-grid">
          <mat-form-field appearance="outline" class="w100">
            <mat-label>Forma de Pagamento</mat-label>
            <mat-select formControlName="formaPagamento" required>
              <mat-option value="creditCard">Cartão de crédito</mat-option>
              <mat-option value="debit">Débito em conta</mat-option>
              <mat-option value="ticket">Boleto</mat-option>
              <mat-option value="pix">Pix</mat-option>
            </mat-select>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'formaPagamento')?.hasError('required') && getControl('informacoesFinanceiras', 'formaPagamento')?.touched">
              Forma de Pagamento é obrigatória.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Parcelas</mat-label>
            <input matInput type="number" placeholder="Número de Parcelas" formControlName="parcelas" min="1"
              required />
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'parcelas')?.hasError('required') && getControl('informacoesFinanceiras', 'parcelas')?.touched">
              Parcelas é obrigatório.
            </mat-error>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'parcelas')?.hasError('min') && getControl('informacoesFinanceiras', 'parcelas')?.touched">
              Mínimo 1 parcela.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Vencimento da 1ª parcela</mat-label>
            <input matInput [matDatepicker]="vencimentoPrimeiraParcelaPicker" placeholder="Vencimento da 1ª parcela"
              formControlName="vencimentoPrimeiraParcela" required>
            <mat-datepicker-toggle matIconSuffix [for]="vencimentoPrimeiraParcelaPicker"></mat-datepicker-toggle>
            <mat-datepicker #vencimentoPrimeiraParcelaPicker></mat-datepicker>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'vencimentoPrimeiraParcela')?.hasError('required') && getControl('informacoesFinanceiras', 'vencimentoPrimeiraParcela')?.touched">
              Vencimento é obrigatório.
            </mat-error>
          </mat-form-field>
        </fieldset>

        <fieldset class="w60 inline-grid">
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Comissão</mat-label>
            <input matInput type="number" style="text-align: right;" formControlName="comissaoPercentual" min="0"
              max="100" />
            <span matTextSuffix>%</span>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'comissaoPercentual')?.hasError('min') || getControl('informacoesFinanceiras', 'comissaoPercentual')?.hasError('max') && getControl('informacoesFinanceiras', 'comissaoPercentual')?.touched">
              Deve ser entre 0 e 100.
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Prêmio Líquido</mat-label>
            <input matInput type="text" formControlName="premioLiquido" min="0" mask="separator.2"
              thousandSeparator="." [decimalMarker]="','" />
            <span matTextPrefix>R$</span>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'premioLiquido')?.hasError('min') && getControl('informacoesFinanceiras', 'premioLiquido')?.touched">
              Prêmio líquido deve ser positivo.
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>IOF</mat-label>
            <input matInput type="text" style="text-align: right;" formControlName="iofPercentual" min="0" max="100"
              [decimalMarker]="','" mask="percent.2" />
            <span matTextSuffix>%</span>
            <mat-error
              *ngIf="getControl('informacoesFinanceiras', 'iofPercentual')?.hasError('min') || getControl('informacoesFinanceiras', 'iofPercentual')?.hasError('max') && getControl('informacoesFinanceiras', 'iofPercentual')?.touched">
              Deve ser entre 0 e 100.
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Prêmio Total</mat-label>
            <input matInput type="text" formControlName="premioTotal" min="0" mask="separator.2"
              thousandSeparator="." [decimalMarker]="','" />
            <span matTextPrefix>R$</span>
            @if ( getControl('informacoesFinanceiras', 'premioTotal').hasError('min') &&
            getControl('informacoesFinanceiras', 'premioTotal').touched ) {
            <mat-error>
              Prêmio total deve ser positivo.
            </mat-error>
            }

          </mat-form-field>
        </fieldset>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel formGroupName="itemSegurado">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>assignment</mat-icon>
          Item Segurado
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if ( apoliceForm.get('produto')?.value === 'Automóvel' ) {
        <app-automovel></app-automovel>
      }

    </mat-expansion-panel>
  </mat-accordion>

  <div class="form-actions">
    <button matFab color="primary" type="submit" [disabled]="apoliceForm.invalid">Salvar Apólice</button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
