<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Gestão de Seguros</span>

    <!-- CAMPO DE PESQUISA GLOBAL NA TOOLBAR -->
    <span class="toolbar-search-spacer"></span> <!-- Espaçador para empurrar a busca -->
    <mat-form-field appearance="outline" class="toolbar-search-input">
        <mat-label>Buscar Cliente</mat-label>
        <input type="text" placeholder="Nome ou CPF" aria-label="Buscar Cliente" matInput [formControl]="searchControl"
            [matAutocomplete]="auto" [disabled]="isLoading()">
        @if (!isLoading()) {
        <mat-icon matSuffix>search</mat-icon>
        } @else {
        <mat-icon matSuffix>hourglass_empty</mat-icon>
        }

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClienteSelected($event)"
            [displayWith]="displayCliente">
            @for (cliente of filteredClientes$ | async; track cliente.id) {
            <mat-option [value]="cliente">
                {{ cliente.nome }} - {{ cliente.cpf | cpf }}
            </mat-option>
            }
            @if ( !(filteredClientes$ | async)?.length && searchControl.value ) {
            <mat-option disabled>
                Nenhum cliente encontrado.
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="onLogout()" [disabled]="isLoading()">
        @if (!isLoading()) {
        <mat-icon>logout<span>Logout</span></mat-icon>

        } @else {
        <mat-icon>hourglass_empty<span>Saindo...</span></mat-icon>

        }
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <mat-nav-list>
            @for (item of menuItems; track item.route) {
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" (click)="toggleNestedMenu(item)">
                <mat-icon>{{ item.icon }}</mat-icon> {{ item.label }}
                @if (item.subMenu) {
                    <span matListItemMeta>
                        @if (nestedMenuOpen()) {
                        <mat-icon>expand_less</mat-icon>
                        } @else {
                            <mat-icon>expand_more</mat-icon>
                        }
                    </span>
                }
            </a>

            @if (item.subMenu && nestedMenuOpen()) {
            <mat-nav-list class="subMenu">
                @for (child of item.children; track child.route) {
                <a mat-list-item [routerLink]="child.route" routerLinkActive="active-link">
                    <mat-icon>{{ child.icon }}</mat-icon> {{ child.label }}
                </a>
                }
            </mat-nav-list>
            }
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        @if (isLoading()) {
        <div class="loading-overlay">
            <mat-spinner diameter="50"></mat-spinner>
            <p>Carregando...</p>
        </div>
        }

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>