@use '../../../styles.scss' as *;

.card-calculo {
    background-color: $blue;
    width: fit-content;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
    color: $surface;
    text-decoration: none;

    mat-icon {
        color: $yellow;
        font-size: clamp(50px, 75px, 100px );
        width: fit-content;
        height: fit-content;
    }
}

.multicalculo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
